.categoriaPref{
	height: 100px;
	text-align:center; width: 100%; 
	background-size: cover;
	background-position: center; 
	margin-top:1px;
	font-size:30px;
	line-height:100px;
	font-weight:1200;
	position: relative;
}

.categoriaPref span{
		padding: 12px;
    font-size: 16px;
    font-weight: bolder;
    text-rendering: geometricPrecision;
}
.categoriaPref.active span{
	border: 2px solid white;
	
}

.categoriaPref:not(.active) div{
	background-color: transparent !important;
}

.categoriaPref.active span{
	background-color: transparent !important;
}

.categoriaPref:not(.active) h6{
	display : none;
}

.categoriaPref  h6{
	margin-top: -65px;
    font-size: 15px;
    font-weight: 100;
	max-height: 36px;
}
.categoriaPref.active div{
	width:100%;
	height:100%;
}
.selectSubCat{
	display : none;
    width: 96%;
    padding: 2%;
}

.selectSubCat.displayed {
	display : block;
	overflow-y: auto;
}

.selectSubCat ul{
	margin : 0px;
	color: white;
}

.wrappeable{
	overflow-y: auto;
}

.categoriaPref .catIndicator{
	position: absolute;
    top: 50%;
    left: 15px;
    margin-top: -8px;
}

.categoriaPref:not(.active) +.selectSubCat{
	display: none;
}

.preference{
	float: left;
	padding : 8px;
	border: 2px solid white;
	margin: 4px;
	color: white;
}

.preference.active{
	background-color: white;
}

.preference.active::after{
	content: " \f058";
	margin-left:10px;
	font-family: FontAwesome;
}

.preference:not(.active)::after{
	content: " \f1db";
	margin-left:10px;
	font-family: FontAwesome;
}

 